@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.bg {
    background-image: url(./images/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: calc(100vw + 160px);
    height: calc(100vh + 180px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: -30px;
    left: -30px;
    top: 0;
    left: 0;
    z-index: -1;
    filter: blur(70px);
    transform: scale(1.09);
    /* transition: filter 2s; */
}

/* .bg.afterLoad {
    filter: blur(0);
} */

.loading-text {
  color: #fff;
  font-size: 50px;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    
}